.daynews{
  font-size: 1.2em;
  &__top{

  }
  &__toplist{
    margin: 0;
    padding: 0;
    letter-spacing: -4px;
  }
  &__topitem{
    display: inline-block;
    width: 50%;
    background: #26282d;
    line-height: 42px;
    letter-spacing: 0;
    text-align: center;

  }
  &__toplink{
    display: block;
    text-decoration: none;
  }
  &__info{
    background: #ffffff;
    padding: 30px 100px 40px 34px;
  }
  &__title{
    color: #d52581;
    font-size: 1.4em;
    letter-spacing: -0.04em;
    font-weight: 300;
    margin-bottom: 30px;

  }
  &__titletime{
    font-size: 11.6px;
    color: white;
    background: #d52581;
    padding: 2px 6px;
  }
  &__scroll{

  }
  &__scrollleft{
    float: left;
    width: 45%;
  }
  &__scrollright{
    float: right;
    width: 45%;
  }
  &__notice{

  }
}