footer{
  background: #1e2124;

}
.footer{

  &__logo{
    float: left;
    margin-top: 25px;
  }
  &__logolink{
    display: block;
  }
  &__logocopiright{

  }
  &__logocopirighttext{
    display: block;
  }
  &__logocopirightprot{
    clear: left;
    display: block;
  }
  &__nav{
    float: left;
  }
}
