.headerline{
  height: 60px;

  &__logo{
    float: left;
    margin: 10px 42px 13px 0;
  }

  &__logolink{
    text-decoration: none;
    display: block;
  }

  &__marker{
    float: left;
    font-size: 1.8em;
  }

  &__marketlist{
    margin: 18px 0 0 0;
    padding: 0;
  }

  &__marketitem{
    display: inline-block;
    padding: 9px 24px 11px 25px;
    font-weight: lighter;

    &_active{
      padding: 9px 29px 11px 30px;
      font-weight: normal;
    }

  }

  &__marketitemlink{
    text-decoration: none;
  }

  &__info{
    float: right;
    font-size: 1.3em;
    font-weight: lighter;
  }

}
