.news{
  font-size: 1.4em;

  &__h1{
    font-weight: 100;
    letter-spacing: -.02em;
    margin: 30px 0 13px 0;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;

  }
  &__item{
    display: inline-block;
    width: 32.3%;
    vertical-align: top;
  }
  &__imgzone{

  }
  &__imgzonelink{
    display: block;
  }
  &__imgzonepicture{

  }
  &__imgzonedate{
    display: inline-block;
    height: 23px;
    padding: 5px 0;
  }
  &__info{
    display: block;
    text-decoration: none;
  }
  &__text{
    display: block;
    width: 70%;
    font-weight: 200;
    letter-spacing: 0.01em;
    color: #8b8c8e;
  }
}