.news{


  &__h1{

  }
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;

  }
  &__item{
    display: inline-block;
    width: 32.3%;
    vertical-align: top;
  }
  &__imgzone{

  }
  &__imgzonelink{
    display: block;
  }
  &__imgzonepicture{

  }
  &__imgzonedate{

  }
  &__info{

  }
}