.newscols{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50%;

  &_left{
    float: left;

  }
  &_right{
   float: right;

  }
  &__item{
    min-height: 60px;
  }
  &__link{
    text-decoration: none;
    color: black;
    display: block;
  }
  &__title{
    color: black;
    margin: 0 0 10px 0;
    font-weight: 300;
    letter-spacing: -.04em;
  }
  &__text{
    color: #9b9b9e;
    font-weight: 200;
    letter-spacing: -.04em;
    width: 66%;
  }
}