.trade{
  white-space: nowrap;
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  &__item{
    display: inline-block;
    padding: 18px 25px 16px 0;
  }
  &__text{
    vertical-align: super;
  }
  &__link{
    text-decoration: none;
    display: block;
  }
  &__basket{
    display: inline-block;

  }
  &__basketlink{

  }

}
